<div class="modalAviso modalMediano">
    <div class="contenidoModal">
        <img src="assets/img/iconos/{{imagen}}.svg" alt="imgAlerta" class="imgAlerta-modal-canales">
        <div class="sub-modal-canales">{{tituloModal}}</div>

        <div id="TextoAlerta" class="textoAlerta txt-alerta-canal">{{textoAlerta}}</div>

        <div class="bnt-center top-botones-modal">
            <button
                [mat-dialog-close]="true" 
                class="btn btn-secundario" 
                (click)="cerrarModal('no')">
                No, conservar
            </button>

            <button
                [mat-dialog-close]="false" 
                class="btn" 
                (click)="cerrarModal('si')">
                Si, eliminar
            </button>
        </div><br>
    </div>
</div>
