<div class="header">
    <div class="contenedor">
        <div class="tb-header">
            <div class="cll-header">
                <img 
                    src="assets/img/iconos/hamburguesa.svg" 
                    class="hamburgesa" 
                    alt="menu hamburgesa"
                    (click)="activoMenu()"
                />
            </div>

            <div class="cll-header">
                <a routerLink="/home">
                    <img router src="assets/img/iconos/logoGrupoSalinas.svg" class="logo-header" alt="logo Gs"/>
                </a>
                
            </div>
 
            <div class="cll-header">
                <div class="tb-usuario">
                    <div class="cll-usuario">
                        <div class="nombre-usuario">
                            <b>Antonio Miguel</b>
                            Camarillo Encina
                        </div>
                        <div class="perfil">
                            Administrador
                        </div>
                    </div>
                    <div class="cll-usuario">
                        <div class="imagen-usuario">
                            <img src="assets/img/usuarios/user.jpg" class="usuario-header" alt="imagen de usuraio"/>
                        </div>
                    </div>
                    <div class="cll-usuario">
                        <div class="arrow-sesion">
                            <img src="assets/img/iconos/arrow.svg" alt="arow sesion"/>
                        </div>
                    </div>
                    <div class="cll-usuario">
                        <div class="fecha">
                            <b>14/Sep/2019</b><br>
                            <span>15:30Hrs.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
