<div class="contenedor-error">
    <div class="header-error404">
        <div class="padding-error-header">
            <div>{{numeroErrorHeader}}</div>
            <div>{{textErrorHeader}}</div>
        </div>
    </div>

    <div class="centenido-error">
        <div class="box-error">
            <div class="img-error">
                <img src="assets/img/errores/error404.svg">
            </div>
            <div class="text-error">{{textError}}</div>
            <div class="text-numero-error">{{textNumeroError}}</div>
            <div class="text-advertencia">{{textAdvertencia}}</div>
            <div class="text-sugerencia">{{textPuedes}} <a routerLink="/home" class="link-error">{{linkAtras}}</a> {{textSugerencia}}</div>
        </div>
    </div>
    <a routerLink="/home" class="btn btnError">Continuar</a><br><br>
</div>
