.contenedor-modal{
    margin-top:20px;
}

.contenedor-tabla{
    margin-top:60px;
}

.buscador-modal-cc{
    width:50%;
    margin-top:10px;
}
.buscador-modal-cc{font-family: "Avenir_Next_Demi_Bold";}

.text-buscador-cc {
    margin-bottom: 7px;
    display: block;
}

.content-inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


@media screen and (max-width:900px){
    .buscador-modal-cc{
        width:100%;
    }
}

@media screen and (max-width:600px){
    .text-buscador-cc {
        text-align:center;
    }

}