.contenedor-modal{
    margin-top:20px;
}

.contenedor-tabla{
    margin-top:60px;
}

.buscador-modal-cc{
    width:50%;
    margin-top:10px;
}
.buscador-modal-cc{font-family: "Avenir_Next_Demi_Bold";}

.text-buscador-cc {
    margin-bottom: 7px;
    display: block;
}

.content-inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.scroll-copia{
    min-height:230px;
    overflow: auto; 
}
.scroll-copia::-webkit-scrollbar {height:6px!important;}
.scroll-copia::-webkit-scrollbar-track {background-color:#E0DDD2;}
.scroll-copia::-webkit-scrollbar-thumb {background-color:#FFCD00; }
.scroll-copia::-webkit-scrollbar-thumb:hover {background-color:#FFCD00;}


@media screen and (max-width:900px){
    .buscador-modal-cc{
        width:100%;
    }
}

@media screen and (max-width:600px){
    .text-buscador-cc {
        text-align:center;
    }

}