.obligatorio.alerta-modal-ws{
    text-align:right;
    margin: 10px 0px 0px 0px;
}

.input-ws{margin-bottom: 10px;}

textarea.textarea.textarea-ws {
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}