<div class="contenedor-error404">

    <div class="header-error404">
        <div class="padding-error-header">
            <div>{{numeroErrorHeader}}</div>
            <div>{{textErrorHeader}}</div>
        </div>
    </div>

    <div class="centenido-error">
        <div class="box-error">
            <div class="img-error">
                <img src="assets/img/errores/error500.svg">
            </div>
            <div class="text-error">{{textError}}</div>
            <div class="text-numero-error">{{textNumeroError}}</div>
            <div class="text-advertencia">{{textAdvertencia}}</div>
            <div class="text-sugerencia">{{textSugerencia}}</div>
        </div>
    </div>
    <button class="btn btnError">Continuar</button><br><br>
</div>
